

h1, p {
    text-align: center;
}


table {
    width: 100%;
    border-collapse: collapse;
}

td {
    text-align: center;
}


.numero1 {
    color: red;
}

.numero2 {
    color: black;
}

.numero3 {
    color: green;
}

.numero4 {
    color: blue;
}

.numero5 {
    color: black;
}
